name: Main action

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy-tibero-fdw-ubuntu:
    uses: ./.github/workflows/deploy-tibero-fdw-ubuntu20.04.yaml
    secrets: 
      git-access-token: ${{ secrets.HYPERSQL_GITHUB_ACCESS_TOKEN }}

  deploy-tibero-fdw-centos7:
    uses: ./.github/workflows/deploy-tibero-fdw-centos7.yaml
    secrets: 
      git-access-token: ${{ secrets.HYPERSQL_GITHUB_ACCESS_TOKEN }}

  deploy-tibero-fdw-centos8:
    uses: ./.github/workflows/deploy-tibero-fdw-centos8.yaml
    secrets: 
      git-access-token: ${{ secrets.HYPERSQL_GITHUB_ACCESS_TOKEN }}

# Blocking Redhat 7 due to lack of reliable Redhat 7 Docker Image
#  deploy-tibero-fdw-redhat7:
#    uses: ./.github/workflows/deploy-tibero-fdw-redhat7.yaml
#    secrets: 
#      git-access-token: ${{ secrets.HYPERSQL_GITHUB_ACCESS_TOKEN }}

  deploy-tibero-fdw-redhat8:
    uses: ./.github/workflows/deploy-tibero-fdw-redhat8.yaml
    secrets: 
      git-access-token: ${{ secrets.HYPERSQL_GITHUB_ACCESS_TOKEN }}

  update-release-in-dist:
    uses: ./.github/workflows/update-release-in-dist.yaml
    secrets:
      git-access-token: ${{ secrets.HYPERSQL_GITHUB_ACCESS_TOKEN }}
